.ds-filter-container {
    background-color: var(--ds-background-color-tertiary);
    border: 1px solid var(--ds-border-color-primary);
    border-radius: 5px;
    padding: 20px;
    display: flex;
}

form {
    max-width: 200px;
}

form input {
    border: 1px solid var(--ds-border-color-primary);
    border-radius: 5px;
    height: 40px;
    width: 100%;
    outline: none;
    padding: 10px;
}

form input::placeholder {
    color: var(--ds-font-color-secondary);
}

form button {
    background-color: var(--ds-background-color-primary);
    border-radius: 5px;
    height: 40px;
    width: 100%;
    color: var(--ds-font-color-primary);
    font-weight: 700;
}
